body {
  margin: 0;
  padding: 0;
}
.taxi-app {
  display: grid;
  grid-template-columns: 3fr auto;
  min-height: 100vh;
  background: rgb(26, 31, 37);
  font-family: 'sans-serif';
}
.map-component-loading-screen {
  margin: 0;
  width: 100%;
}
.taxi-app-sidebar {
  background: rgb(3, 30, 82);
  border-left: 3px double brown;
  font-family: sans-serif;
}

.taxi-app-searchbox {
  height: 30px;
  width: 200px;
  margin: 10px 20px;
  padding: 5px 10px;
  font-size: 20px;
}
.overlay-form {
  color: black;
  vertical-align: middle;
  margin: 20px 12px;
}
.overlay-form input[type=checkbox] {
  transform: scale(2);
}
.overlay-form p {
  display: inline;
  margin-left: 20px;
  color: #FFF;
}
.sidebar-locations {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 0; 
  color: #fff;
}
.sidebar-locations p {
  margin: 3px 8px;
}
.sidebar-btn {
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  width: 20px;
  height: 20  px;
  border-radius: 25%;
  font-family: Arial;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
}
.sidebar-btn:hover {
  background-color: #7C6500;
}

.marker {
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  background-size: contain;
  margin: 0;
  padding: 0;
  transition: all ease 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.marker-simple {
  background-image: url('./images/markerSimple.svg');
  width: 50px;
  height: 50px;
  transform: translate(-50%, -70%);
  transform-origin: 0px 50px;
}
.marker-searched-here {
  background-image: url('./images/markerHere.png');
  width: 49px;
  height: 64px;
  top: -49px;
  left: -32px;
  transform-origin: 32px 49px;
}
.marker-user-here {
  background-image: url('./images/markerHuman.png');
  width: 40px;
  height: 50px;
  top: -40px;
  left: -25px;
  transform-origin: 25px 40px;
}
.marker-cluster {
  width: 40px;
  height: 40px;
  color: black;
  font-size: 18px;
  background: white;
  border: 5px solid #004336;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  transform: translate(-50%, -50%);

}
@media only screen and (max-width: 700px) {
  .taxi-app {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr auto;
  }
  .taxi-app-searchbox {
    width: 70%;
    height: 20px;
    margin: 10px;
  }
  .taxi-app-sidebar {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    border-bottom: 3px double brown;
  }
  .sidebar-locations {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .sidebar-locations p {
    font-size: 12px;
  }
  .sidebar-btn {
    height: 14px;
    width: 14px;
  }
 
  .overlay-form {
    margin: 5px 5px;
  }
  .overlay-form input[type=checkbox] {
    transform: scale(1.3);
  }
  .overlay-form p {
    font-size: 12px;
    margin-left: 10px;
  }
}